* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
background-color: whitesmoke;

}


.container-description p {
  background-color: rgb(238, 238, 231);
  color:black;
  border-radius: 20px;
  border: 2px solid #f37335;
  padding: 10px 20px;
  font-size: 1.2em;
  margin: 50px 100px;
}





.card-section {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.card-title {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  text-shadow: 3px 3px 3px #F37335;
}

.card-body {
  background-color:rgb(238, 238, 231); 
  border-radius: 6px;
  border: 2px solid #F37335;
  box-shadow: 10px 15px 10px #F37335;
}

.card-img-top {
  border-radius: 2px;
  border: 2px solid #F37335;
  box-shadow: 10px 15px 10px #F37335;
}

.card-text {
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  border-radius: 2px;
}




.form-contact {
  background-color:rgb(238, 238, 231) ;
  border-radius: 6px;
  box-shadow: 10px 15px 10px #F37335;
  border: 2px solid #F37335;
  text-align: center;
  width: 450px;
  padding: 10px 20px;
  margin: auto;
  margin-top: 80px;
}

.controls {
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  background-color: whitesmoke;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 2px solid #F37335;
}

.controls:hover {
  cursor: pointer;
}

.form-contact h3 {
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 1px solid;
  height: 30px;
  color: black;
}

input, textarea {
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
  width: 100%;
  margin-bottom: 30px;
  padding: 10px;
  border: none;
}

textarea {
  background-color: whitesmoke;
  border-radius: 6px;
  border: 2px solid #F37335;
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}
.button { 
  background: #facf59;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7905c, #facf59);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7905c, #facf59); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 2px solid #F37335;
  padding: 10px;
  color: black;
}

.button:hover {
  cursor: pointer;
}

footer {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  align-items:baseline;
  font-size: 15px;
  margin-top: 50px;
  height: 35px;
  /* background: #3e5151;  *//* fallback for old browsers */
  /*   background: -webkit-linear-gradient(
    to right,
    #decba4,
    #3e5151
  ); */ /* Chrome 10-25, Safari 5.1-6 */
  /*   background: linear-gradient(
    to right,
    #decba4,
    #3e5151
  ); */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 6px;
  box-shadow: 10px 10px 20px #F37335;
  border: 2px solid #F37335;
  background-color: whitesmoke;
}

.cont-title {
  /* text-shadow: 3px 3px 3px #F37335; */
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  font-weight: bold;
}

.container-footer {
/*   background: #3e5151;  *//* fallback for old browsers */
/*   background: -webkit-linear-gradient(
    to right,
    #decba4,
    #3e5151
  ); */ /* Chrome 10-25, Safari 5.1-6 */
/*   background: linear-gradient(
    to right,
    #decba4,
    #3e5151
  ); */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-color: whitesmoke;
  border-radius: 6px;
  box-shadow: 10px 10px 20px #F37335;
  border: 2px solid #F37335;
  display: flex;
  justify-content: space-between;
  padding: 2px;
  height: 60px;
}

.profile-title{
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  width: 8vw;
}

.contact-links {
  /* text-shadow: 3px 3px 3px #F37335; */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mail {
  width: 30px;
}

.wp {
  width: 26px;
}

.github {
  width: 30px;
}

.contact-links p{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 12px;
}

.copyrights p {
  color: black;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
/* Navbar */

.navbar {
  padding: 1.75rem;
  /* background-color: rgb(240, 240, 240); */
  background-color: #fcfcfc;
}

.navbar-collapse {
  align-items: center;
  justify-content: flex-end;
}

.logo-image {
  height: 50px;
}
.navbar-expand-md .navbar-nav .nav-link {
  padding: 1em;
}

.form-control {
  margin-left: 1em;
}
input.form-control.me-2 {
  margin-bottom: 0;
}
