/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
} */
/* #banner{
    width: 100%;
    height: 100%;
} 
#img_banner{
    display: block;
    margin: auto;
    width: 100%;
} */
body{
  background-color: whitesmoke;
}

.carousel-inner img {
  width: 100%;
  height: 600px;
  
}


.carousel-caption {
 bottom: 200px;

}


.carousel-caption h2 {
  font-size: 45px;
  font-weight: bold;    
  color: rgb(238, 238, 231);
  background-color: rgba(0,0,0,0.4);
  border-radius: 10px;
  letter-spacing: 6px;
}

.carousel-caption p {
  width: 50%;
  margin: auto;
  font-size: 30px;
  font-weight: bold;
  color:rgb(238, 238, 231);
  background-color: rgba(0,0,0,0.4);
  border-radius: 10px;
  line-height: 1.9;
}

.card{
  padding-top: 10px;
    border:solid 2px #F37335;
    background-color: rgb(238, 238, 231)
}

.card img{
  height: 70%;
}

.btn{
  background: #facf59;
  background: -webkit-linear-gradient(to right, #f7095c, #facf59);
  background: linear-gradient(to right, #f7905c, #facf59);
}

.cards{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    position: relative;
    border: 3px;
    top: 30px;
    bottom: 30px;
}


.gif{
    position: relative; 
    top: 50px;
    display: block;
    margin: auto;
    width: 40%;
    height: 40%;
}
.boton{
    display: flex;
    justify-content: space-between;
}
/* Navbar */

.navbar{
    padding: 1.75rem;
    /* background-color: rgb(240, 240, 240); */
    background-color: #fcfcfc;
}

.navbar-collapse{
    align-items: center;
    justify-content: flex-end;
}

.logo-image{
    height: 50px;
}
.navbar-expand-md .navbar-nav .nav-link{
    padding: 1em;
}

.form-control{
    margin-left: 1em;
}

footer {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  align-items:baseline;
  font-size: 15px;
  margin-top: 50px;
  height: 35px;
  background: #3e5151; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #decba4,
    #3e5151
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #decba4,
    #3e5151
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 6px;
  box-shadow: 20px 15px 20px #3e5151;
  border: 2px solid black;
}

.cont-title {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  font-weight: bold;
}

.container-footer {
  background: #3e5151; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #decba4,
    #3e5151
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #decba4,
    #3e5151
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 6px;
  box-shadow: 25px 20px 25px #3e5151;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  padding: 2px;
  height: 60px;
}

.contact-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mail {
  width: 30px;
}

.wp {
  width: 26px;
}

.github {
  width: 30px;
}

.contact-links p{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 12px;
}

.copyrights p {
  color: floralwhite;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}