*{
  font-family: 'Roboto', sans-serif;
}

body{
  margin-top: 150px;
}

/* Navbar */

.navbar {
    /* padding: 1.75rem; */
    background-color: whitesmoke;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #343a40;
}

.navbar-collapse{
    align-items: center;
    justify-content: flex-end;
}

.logo-image{
    height: 70px;
}
.navbar-expand-md .navbar-nav .nav-link{
    padding: 1em;
}

.form-control{
    margin-left: 1em;
    width: 230px;
}

.btn-outline-success {
  color: #f37335;
  border-color: #f37335;
}

.btn-outline-success:hover {
  background-color: #f37335;
}

.nav-item:hover {
  background-color: #f37335;
}

/* login */
.bg {
    background-image: url(/assets/Images/emp-22.jpg);
    background-position: center center;
    background-size: cover;
  }

  .btn-secondary {
    background-color: #f37335;
  }
  .btn-secondary:hover {
    background-color: #e62e0d;
  }
  
  .fw-bold

  footer {
    margin-top: 5%;
    overflow: hidden;
  }
  
  .footer-title {
    color: orange;
  }
  
  .github{
    width: 33px;
  }
  
  .wp {
    width: 35px;
  }
  
  .mail {
    width: 32px;
  }