*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

body{
  background-color: whitesmoke;
  margin-top: 120px;
}

.modified-button{
    width: 2vw;
}

.modified-card-group{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90vh;
}

.card{
    width: 40vw;
    height: 80vh;
    transition: 200ms ease-out;
    padding-top: 10px;
    border:solid 2px #F37335;
    background-color: rgb(238, 238, 231);
}

.card:hover{
    transition: 200ms;
/*     width: 47vw;
    height: 77vh; */
    box-shadow: 10px 10px 20px #F37335;
    cursor: pointer;
}

.card-title{
  font-family: 'Alkatra', cursive;
}

.container-img{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-img img{
    width: 30vw;
    height: 40vh;
    object-fit: contain;
}

.price{
    display: flex;
    justify-content: center;
    width: 20%;
    border: solid 2px black;
    font-weight: bold;
    background: #facf59;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7905c, #facf59);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7905c, #facf59); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.align-text-right{
    display: flex;
    justify-content: flex-end;
}

/* .card-title{
  text-shadow: 3px 3px 3px #F37335;
} */
/* Navbar */

.navbar{
    /* padding: 1.75rem; */
/*  background: #bdc3c7;
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    background: linear-gradient(to right, #2c3e50, #bdc3c7);*/
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #343a40;
}

.navbar-collapse{
    align-items: center;
    justify-content: flex-end;
}

.logo-image{
    height: 70px;
}
.navbar-expand-md .navbar-nav .nav-link{
    padding: 1em;
}

.form-control{
    margin-left: 1em;
    width: 230px;
}

.btn-outline-success {
  color: #f37335;
  border-color: #f37335;
}

.btn-outline-success:hover {
  background-color: #f37335;
}
.nav-item:hover {
  background-color: #f37335;
  font-family: alktra, cursive;
}
.carousel-item video{
  margin: 10px;
  width: 100%;
  height: 600px;
  object-position:center;
}

/* CSS screen smallers than 850 pixels */
@media (max-width: 850px) {

  .my-iframe {
    width: 450px;
    height: 350px;
  } 

}

@media (max-width: 600px) {

  .my-iframe {
    width: 300px;
    height: 250px;
  } 

}

.maps{
    padding: 6rem;
}

.maps h3 {
  /* text-decoration: underline; */
  font-family: 'Alkatra', cursive;
  font-size: 30px;
}

footer {
  margin-top: 5%;
  overflow: hidden;
}

.footer-title {
  color: orange;
}

.github{
  width: 33px;
}

.wp {
  width: 35px;
}

.mail {
  width: 32px;
}

