* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}

.container-footer {
  background-color: rgb(0, 0, 0);
  color: antiquewhite;
  display: flex;
  justify-content: space-between;
  padding: 5px;  
}

.contact-links {
  display: flex;
}

.mail {
  width: 30px;
}

.wp {
  width: 26px;
}

.github {
  width: 30px;
}

.copyrights p {
    color: floralwhite;
    font-size: 12px;
    margin-top: 10px;
    background-color: rgb(103, 14, 14);
}