*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.modified-button{
    width: 2vw;
}

.modified-card-group{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90vh;
}

.card{
    width: 40vw;
    height: 80vh;
    transition: 200ms ease-out;
    padding-top: 10px;
    border:solid 2px black;
}

.card:hover{
    transition: 200ms;
/*     width: 47vw;
    height: 77vh; */
    box-shadow: 10px 10px 20px black;
    cursor: pointer;
}

.container-img{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-img img{
    width: 30vw;
    height: 40vh;
    object-fit: contain;
}

.price{
    display: flex;
    justify-content: center;
    width: 20%;
    border: solid 2px black;
    font-weight: bold;
    /* background-color: lightblue; */
}

.align-text-right{
    display: flex;
    justify-content: flex-end;
}
/* Navbar */

.navbar{
    padding: 1.75rem;
    background-color: #fcfcfc;

}

.navbar-collapse{
    align-items: center;
    justify-content: flex-end;
}

.logo-image{
    height: 50px;
}
.navbar-expand-md .navbar-nav .nav-link{
    padding: 1em;
}

.form-control{
    margin-left: 1em;
}

footer {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  align-items:baseline;
  font-size: 15px;
  margin-top: 50px;
  height: 35px;
  background: #3e5151; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #decba4,
    #3e5151
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #decba4,
    #3e5151
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 6px;
  box-shadow: 20px 15px 20px #3e5151;
  border: 2px solid black;
}

.cont-title {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  font-weight: bold;
}

.container-footer {
  background: #3e5151; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #decba4,
    #3e5151
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #decba4,
    #3e5151
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 6px;
  box-shadow: 25px 20px 25px #3e5151;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  padding: 2px;
  height: 60px;
}

.contact-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mail {
  width: 30px;
}

.wp {
  width: 26px;
}

.github {
  width: 30px;
}

.contact-links p{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 12px;
}

.copyrights p {
  color: floralwhite;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.carousel-item video{
  margin: 10px;
  width: 100%;
  height: 600px;
  object-position:center;
}
